.uploader{
position:relative;
display:inline-block;
overflow:hidden;
cursor:default;
padding:0;
margin:10px 0px;
}

.filename{
float:left;
display:inline-block;
outline:0 none;
height:32px;
width:258px;
margin:0;
padding:8px 10px;
overflow:hidden;
cursor:default;
font:9pt/100% Arial, Helvetica, sans-serif; color:#777;
text-shadow:1px 1px 0px #fff;
text-overflow:ellipsis;
white-space:nowrap;
-webkit-border-radius:5px;
background:#e1e1e1;
border-color:#ccc;
-webkit-box-shadow: 4px 4px 3px #d2d2d2 inset;
-webkit-box-sizing:border-box;
border:0;
}

.button{
float:left;
height:32px;
display:inline-block;
outline:0 none;
padding:8px 12px;
margin:0;
cursor:pointer;
border:0;
font:bold 9pt/100% Arial, Helvetica, sans-serif;
-webkit-border-radius:5px;
margin-left:3px;
}


.uploader input[type=file]{
position:absolute;
top:0; right:0; bottom:0;
border:0;
padding:0; margin:0;
height:30px;
width: 337px;
cursor:pointer;
filter:alpha(opacity=0);
-moz-opacity:0;
-khtml-opacity: 0;
opacity:0;
}

input[type=button]::-moz-focus-inner{padding:0; border:0 none; -moz-box-sizing:content-box;}
input[type=button]::-webkit-focus-inner{padding:0; border:0 none; -webkit-box-sizing:content-box;}
input[type=text]::-moz-focus-inner{padding:0; border:0 none; -moz-box-sizing:content-box;}
input[type=text]::-webkit-focus-inner{padding:0; border:0 none; -webkit-box-sizing:content-box;}

/* White Color Scheme ------------------------ */

.dark .button{
color:#41a2fb;
background:#333333;
}